addn-hosts=/etc/hosts
domain-needed
bogus-priv

local=/{{ ansible_facts.domain }}/

local-ttl={{ dns_cache_dnsmasq_ttl }}
min-cache-ttl={{ dns_cache_dnsmasq_ttl }}
#max-ttl=3600
#max-cache-ttl=3600
neg-ttl={{ dns_cache_dnsmasq_ttl }}
