---
- name: Set changed packages
  ansible.builtin.set_fact:
    removed_packages_all: "{{ (removed_packages.results | default([])
                              + removed_packages_leaf.results | default([]))
                              | reject('search', 'No match') | sort }}"

- name: Display package changes
  ansible.builtin.debug:
    msg: "{{ removed_packages_all | join('\n') }}"
  when: removed_packages_all | length > 0
