{% for item in sshd_enable | dict2items | select if item.key not in sshd_disable %}
{% if item.value is not string and item.value is not number %}
{% if item.key.startswith('Match') %}
{{ item.key }}
{% for value in item.value %}
    {{ value }}
{% endfor %}
{% else %}
{% for value in item.value %}
{{ item.key }} {{ value }}
{% endfor %}
{% endif %}
{% else %}
{{ item.key }} {{ item.value }}
{% endif %}
{% endfor %}
