---
- name: Get files
  vars:
    passwords_used: "{{ files_get | default([], true) | selectattr('url_password', 'defined') | list | length > 0 }}"
  get_url:
    url: "{{ item.url }}"
    url_username: "{{ item.username | default(omit) }}"
    url_password: "{{ item.password | default(omit) }}"
    use_proxy: "{{ item.use_proxy | default(omit) }}"
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    mode: "{{ item.mode | default(omit) }}"
    headers: "{{ item.headers | default(omit) }}"
    timeout: "{{ item.timeout | default(omit) }}"
    validate_certs: "{{ item.validate_certs | default(omit) }}"
  no_log: "{{ passwords_used and files_get_no_log }}"
  register: get_files
  loop: "{{ files_get | default([], true) }}"
  loop_control:
    label: "{{ item.dest }}"
