---
- name: Install aide package
  yum:
    name: aide
    state: present

- name: Copy aide configuration file
  copy:
    src: "{{ aide_setup_config_file }}"
    dest: /etc/aide.conf
    mode: '0600'
  when: aide_setup_config_file | default(false)

- name: Gather package facts
  package_facts:

- name: Run aide configuration check
  command: /usr/sbin/aide --config-check
  check_mode: false
  changed_when: false
  when: "'aide' in ansible_facts.packages"

- name: Check aide database
  stat:
    path: /var/lib/aide/aide.db.gz
  register: aide_database
  when:
    - "'aide' in ansible_facts.packages"
    - aide_setup_initialize_database | bool

- name: Initialize new aide database
  command: /usr/sbin/aide --init
  register: aide_database
  changed_when: true
  when:
    - "'aide' in ansible_facts.packages"
    - aide_setup_initialize_database | bool
    - not aide_database.stat.exists

- name: Copy new aide database as current aide database
  copy:
    src: /var/lib/aide/aide.db.new.gz
    dest: /var/lib/aide/aide.db.gz
    mode: '0600'
    remote_src: true
  when:
    - "'aide' in ansible_facts.packages"
    - aide_setup_initialize_database | bool
    - aide_database is changed

# Configure cron in OpenSCAP-compatible manner
- name: Update aide check cron configuration
  vars:
    entry_prefix: "{{ '' if aide_setup_cron_setup | bool else '#' }}"
  lineinfile:
    path: /etc/crontab
    regexp: '^(#|)05 4 \* \* \* root /usr/sbin/aide --check'
    line: '{{ entry_prefix }}05 4 * * * root /usr/sbin/aide --check'
  when: "'aide' in ansible_facts.packages"
