---
- name: Gather needed facts
  setup:
    gather_subset:
      - '!all'
      - '!min'
      - virtualization_role
  when: ansible_facts.virtualization_role is not defined

- name: Install tuned package
  yum:
    name: tuned
    state: present

- name: Gather package facts
  package_facts:

- name: Enable tuned service
  service:
    name: tuned
    enabled: true
  when: "'tuned' in ansible_facts.packages"

- name: Start tuned service
  service:
    name: tuned
    state: started
  when: "'tuned' in ansible_facts.packages"

- name: Check current tuned profile
  slurp:
    src: /etc/tuned/active_profile
  register: active_profile
  when: "'tuned' in ansible_facts.packages"

- name: Configure tuned profile
  command: tuned-adm profile {{ tuned_profile }}
  when:
    - "'tuned' in ansible_facts.packages"
    - active_profile.content|b64decode|trim != tuned_profile
