---
- name: Verify correct role configuration
  ansible.builtin.assert:
    that:
      - resolver_configuration_method in ['nm', 'direct', 'symlink', 'remove', 'nothing']
      - resolver_configuration_method in ['symlink', 'remove', 'nothing'] or
        resolver_nameservers | select | length > 0
    quiet: true

- name: Remove NetworkManager resolver configuration
  ansible.builtin.include_tasks: remove.yml
  when: resolver_configuration_method == 'remove'

- name: Configure resolver as NetworkManager symlink
  ansible.builtin.include_tasks: symlink.yml
  when: resolver_configuration_method == 'symlink'

- name: Configure resolver without NetworkManager
  ansible.builtin.include_tasks: direct.yml
  when: resolver_configuration_method == 'direct'

- name: Configure resolver using NetworkManager
  ansible.builtin.include_tasks: nm.yml
  when: resolver_configuration_method == 'nm'
