---
- name: Gather package facts
  ansible.builtin.package_facts:
  when:
    - packages_verify_enable | bool
    - packages_verify_check_missing | bool or
      packages_verify_check_content | bool

- name: Verify packages present
  vars:
    packages_missing: "{{ packages_verify | select | difference(ansible_facts.packages.keys()) | sort | unique }}"
  ansible.builtin.assert:
    that:
      - not packages_missing
    quiet: true
    fail_msg: |
      The following packages are not installed:
      {{ packages_missing | to_nice_yaml }}
  register: missing_packages
  ignore_errors: "{{ not packages_verify_fail_missing | bool }}"
  when:
    - packages_verify_enable | bool
    - packages_verify_check_missing | bool
    - packages_verify | select | length > 0

- name: Verify packages content
  vars:
    verify_packages: "{{ packages_verify | default(ansible_facts.packages.keys(), true) | sort | unique }}"
  check_mode: false
  # noqa: command-instead-of-module
  ansible.builtin.command: rpm -V {{ item }}
  register: verified_packages
  ignore_errors: "{{ not packages_verify_fail_content | bool }}"
  failed_when: verified_packages.rc != 0
  changed_when: false
  loop: "{{ (verify_packages | select) if packages_verify_enable else [] }}"
  when:
    - packages_verify_check_content | bool
    - item in ansible_facts.packages
