---
# Optional auditd config file to copy
# Role provided alternatives:
# * auditd_cis.conf   - CIS Level 2 - Server compliant config
# * auditd_rhel.conf  - RHEL default config
# * auditd_rhel7.conf - RHEL 7 default config
audit_setup_config_file:

# Optional audit rules file to copy
audit_setup_rules_file:

# Action with locked rules if rules changed
# Allowed values: fail, ignore, reboot
audit_setup_update_lock: fail

# Remove unrecognized audit rules files
audit_setup_exclusive: false

# List of recognized audit rules files
# in addition to the role created zz-ansible.rules
# Other files in /etc/audit/rules.d will be removed
# NB. This list must be updated for use with OpenSCAP!
audit_setup_files_known:
  - /etc/audit/rules.d/audit.rules
