[libdefaults]
    default_realm = {{ domain_ad_domain | upper }}
    dns_canonicalize_hostname = false
    qualify_shortname = "{{ qualify_shortname }}"
    dns_lookup_kdc = true
    dns_lookup_realm = true
    dns_uri_lookup = false
    ticket_lifetime = 24h
    renew_lifetime = 7d
    forwardable = true
    rdns = false
    udp_preference_limit = 1
    spake_preauth_groups = edwards25519
    pkinit_anchors = FILE:/etc/pki/tls/certs/ca-bundle.crt

[realms]
    {{ domain_ad_domain | upper }} = {
        #kdc =
        #kdc =
        #kpasswd_server =
    }

#[domain_realm]
#    {{ domain_ad_domain | lower }} = {{ domain_ad_domain | upper }}
