[sssd]
debug_level = 0
services = nss, pam
reconnection_retries = 3
domains = {{ domain_ad_domain | lower }}

[nss]
debug_level = 0
entry_negative_timeout = 60
entry_cache_nowait_percentage = 50

[pam]
debug_level = 0
pam_verbosity = 1
pam_id_timeout = 5
offline_credentials_expiration = 7

[domain/{{ domain_ad_domain | lower }}]
debug_level = 0
id_provider = ad
access_provider = simple

ad_domain = {{ domain_ad_domain | lower }}
ad_hostname = {{ ansible_facts.fqdn }}
krb5_realm = {{ domain_ad_domain | upper }}
krb5_store_password_if_offline = True
krb5_auth_timeout = 6

ad_enable_dns_sites = True
dyndns_update = False
ldap_id_mapping = True
case_sensitive = False

ad_maximum_machine_account_password_age = 30

subdomain_inherit = ignore_group_members
ignore_group_members = False
entry_cache_timeout = 3600
ldap_deref_threshold = 10
cache_credentials = True

min_id = 1000
max_id = 0

default_shell = /bin/bash
fallback_homedir = /home/%u
use_fully_qualified_names = False

{% if domain_ad_allow_groups is defined %}
simple_allow_groups = {{ domain_ad_allow_groups }}
{% endif %}
