---
- name: Gather package facts
  package_facts:

- name: Stop firewalld service
  service:
    name: firewalld
    state: stopped
  when: "'firewalld' in ansible_facts.packages"

- name: Disable firewalld service
  service:
    name: firewalld
    enabled: false
  when: "'firewalld' in ansible_facts.packages"
