---
- name: Create directories
  ansible.builtin.file:
    state: directory
    path: "{{ item.path }}"
    owner: "{{ item.owner | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    mode: "{{ item.mode | default(omit) }}"
    attributes: "{{ item.attributes | default(omit) }}"
    unsafe_writes: "{{ item.unsafe_writes | default(omit) }}"
    recurse: "{{ item.recurse | default(omit) }}"
    selevel: "{{ item.selevel | default(omit) }}"
    serole: "{{ item.serole | default(omit) }}"
    setype: "{{ item.setype | default(omit) }}"
    seuser: "{{ item.seuser | default(omit) }}"
  register: create_directories
  loop: "{{ files_create | selectattr('state', 'equalto', 'directory') }}"
  loop_control:
    label: "{{ item.path }}"

- name: Create files
  ansible.builtin.file:
    state: touch
    path: "{{ item.path }}"
    owner: "{{ item.owner | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    mode: "{{ item.mode | default(omit) }}"
    modification_time: preserve
    access_time: preserve
    attributes: "{{ item.attributes | default(omit) }}"
    unsafe_writes: "{{ item.unsafe_writes | default(omit) }}"
    selevel: "{{ item.selevel | default(omit) }}"
    serole: "{{ item.serole | default(omit) }}"
    setype: "{{ item.setype | default(omit) }}"
    seuser: "{{ item.seuser | default(omit) }}"
  register: create_files
  loop: "{{ files_create | selectattr('state', 'equalto', 'file') }}"
  loop_control:
    label: "{{ item.path }}"

- name: Create symlinks
  vars:
    # For role backwards compatibility
    link: "{{ item.path | default(item.dest) }}"
  ansible.builtin.file:
    state: link
    src: "{{ item.src }}"
    path: "{{ link }}"
    owner: "{{ item.owner | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    mode: "{{ item.mode | default(omit) }}"
    force: "{{ item.force | default(omit) }}"
    follow: "{{ item.follow | default(omit) }}"
    attributes: "{{ item.attributes | default(omit) }}"
    unsafe_writes: "{{ item.unsafe_writes | default(omit) }}"
    selevel: "{{ item.selevel | default(omit) }}"
    serole: "{{ item.serole | default(omit) }}"
    setype: "{{ item.setype | default(omit) }}"
    seuser: "{{ item.seuser | default(omit) }}"
  register: create_links
  loop: "{{ files_create | selectattr('state', 'equalto', 'link') }}"
  loop_control:
    label: "{{ link + ' -> ' + item.src }}"
