---
- name: Create directories
  file:
    state: directory
    path: "{{ item.path }}"
    owner: "{{ item.owner | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    mode: "{{ item.mode | default(omit) }}"
  register: create_directories
  loop: "{{ files_create | selectattr('state', 'equalto', 'directory') | list }}"
  loop_control:
    label: "{{ item.path }}"

- name: Create files
  file:
    state: touch
    path: "{{ item.path }}"
    owner: "{{ item.owner | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    mode: "{{ item.mode | default(omit) }}"
    modification_time: preserve
    access_time: preserve
  register: create_files
  loop: "{{ files_create | selectattr('state', 'equalto', 'file') | list }}"
  loop_control:
    label: "{{ item.path }}"

- name: Create symlinks
  file:
    state: link
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    force: "{{ item.force | default(omit) }}"
    follow: false
  register: create_links
  loop: "{{ files_create | selectattr('state', 'equalto', 'link') | list }}"
  loop_control:
    label: "{{ item.dest + ' -> ' + item.src }}"
