---
- name: Install required packages
  ansible.builtin.dnf:
    name: e2fsprogs
    state: present
  when: files_properties | select | length > 0

- name: Configure properties
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: "{{ item.owner | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    mode: "{{ item.mode | default(omit) }}"
    attributes: "{{ item.attributes | default(omit) }}"
    follow: "{{ item.follow | default(omit) }}"
    force: "{{ item.force | default(omit) }}"
    state: "{{ item.state | default(omit) }}"
    access_time: "{{ item.access_time | default(omit) }}"
    access_time_format: "{{ item.access_time_format | default(omit) }}"
    modification_time: "{{ item.modification_time | default(omit) }}"
    modification_time_format: "{{ item.modification_time_format | default(omit) }}"
    selevel: "{{ item.selevel | default(omit) }}"
    serole: "{{ item.serole | default(omit) }}"
    setype: "{{ item.setype | default(omit) }}"
    seuser: "{{ item.seuser | default(omit) }}"
    recursive: "{{ item.recursive | default(omit) }}"
    unsafe_writes: "{{ item.unsafe_writes | default(omit) }}"
  register: properties_files
  loop: "{{ files_properties | select }}"
  loop_control:
    label: "{{ item.path }}"
  when: item.state is not defined or
        item.state != 'absent'
