---
- name: Set changed packages
  ansible.builtin.set_fact:
    installed_packages_all: "{{ installed_packages.results | default([]) | sort }}"

- name: Display package changes
  ansible.builtin.debug:
    msg: "{{ installed_packages_all | join('\n') }}"
  when: installed_packages_all | length > 0
