---
- name: Gather needed facts
  setup:
    gather_subset:
      - '!all'
      - '!min'
      - cmdline
      - distribution_major_version
  when: ansible_facts.cmdline is not defined or
        ansible_facts.distribution_major_version is not defined

- name: Verify correct role configuration
  assert:
    that:
      - audit_setup_update_lock in ['fail', 'ignore', 'reboot']
    quiet: true

- name: Fail if audit disabled in kernel
  fail:
    msg: "Audit disabled on kernel command line."
  when:
    - "'audit' in ansible_facts.cmdline"
    - ansible_facts.cmdline['audit'] == '0'

- name: Install audit package
  yum:
    name: audit
    state: present

- name: Gather package facts
  package_facts:

- name: Copy auditd configuration file
  copy:
    src: "{{ audit_setup_config_file }}"
    dest: /etc/audit/auditd.conf
    mode: '0640'
  register: auditd_config
  when: audit_setup_config_file | default(false)

- name: Copy audit rules configuration file
  copy:
    src: "{{ audit_setup_rules_file }}"
    dest: /etc/audit/rules.d/zz-local.rules
    mode: '0600'
  when: audit_setup_rules_file | default(false)

- name: Check changed audit rules
  command: augenrules --check
  check_mode: false
  register: rules_status
  changed_when: false
  when: "'audit' in ansible_facts.packages"

- name: Check locked audit rules
  command: auditctl -s
  check_mode: false
  register: audit_status
  changed_when: false
  when: "'audit' in ansible_facts.packages"

- name: Fail if audit rules cannot be updated
  fail:
    msg: "Audit rules are locked."
  when:
    - "'audit' in ansible_facts.packages"
    - audit_setup_update_lock == 'fail'
    - "'enabled 2' in audit_status.stdout"
    - "'Rules have changed' in rules_status.stdout"

- name: Enable auditd service
  service:
    name: auditd
    enabled: true
  when: "'audit' in ansible_facts.packages"

- name: Start auditd service
  service:
    name: auditd
    state: started
  register: service_start
  when: "'audit' in ansible_facts.packages"

# auditd is not compatible with the Ansible service module
# https://github.com/ansible/ansible/issues/22171
# https://access.redhat.com/solutions/2664811
- name: Reload auditd to apply configuration changes
  # noqa: command-instead-of-module
  command: service auditd reload
  changed_when: true
  when:
    - "'audit' in ansible_facts.packages"
    - "'enabled 2' not in audit_status.stdout or
      (auditd_config is changed and 'Rules have changed' not in rules_status.stdout)"
    - "'enabled 2' not in audit_status.stdout or
      audit_setup_update_lock != 'reboot'"
    - service_start is not changed
    - auditd_config is changed or
      'Rules have changed' in rules_status.stdout

- name: Reboot system
  reboot:
  when:
    - "'audit' in ansible_facts.packages"
    - audit_setup_update_lock == 'reboot'
    - "'enabled 2' in audit_status.stdout"
    - "'Rules have changed' in rules_status.stdout"
