---
- name: Gather package facts
  package_facts:

- name: Disable rhcd service
  service:
    name: rhcd
    enabled: false
  when: "'rhc' in ansible_facts.packages"

- name: Stop rhcd service
  service:
    name: rhcd
    state: stopped
  when: "'rhc' in ansible_facts.packages"

- name: Unregister system from Red Hat Insights
  command:
    cmd: insights-client --unregister
    removes: /etc/insights-client/.registered
  when: "'insights-client' in ansible_facts.packages"

- name: Clear Insights tags configuration
  copy:
    content: ''
    dest: /etc/insights-client/tags.yaml
    mode: '0644'
  when: "'insights-client' in ansible_facts.packages"
