---
- name: Gather needed facts
  ansible.builtin.setup:
    gather_subset:
      - '!all'
      - '!min'
      - distribution_major_version
      - hardware
      - virtualization_role
      - virtualization_type
  when: ansible_facts.distribution_major_version is not defined or
        ansible_facts.system_vendor is not defined or
        ansible_facts.virtualization_role is not defined or
        ansible_facts.virtualization_type is not defined

- name: Remove unneeded firmware packages
  vars:
    firmware_packages:
      - 'a*firmware*'
      - 'b*firmware*'
      - "{{ 'c*firmware*' if ansible_facts.distribution_major_version | int >= 9 else '' }}"
      - 'i*firmware*'
      - 'lib*firmware*'
      - "{{ 'linux-firmware*' if ansible_facts.distribution_major_version | int >= 9 else '' }}"
      - 'm*firmware*'
      - 'n*firmware*'
      - 'r*firmware*'
      - 't*firmware*'
  ansible.builtin.dnf:
    name: "{{ firmware_packages | select }}"
    state: absent
    cacheonly: true
    disablerepo: '*'
  when:
    - ansible_facts.virtualization_role == "guest"
    - guest_agent_remove_firmware | bool

- name: Remove all virtual guest packages
  ansible.builtin.dnf:
    name:
      - 'hyperv*'
      - open-vm-tools
      - qemu-guest-agent
      - spice-vdagent
      - WALinuxAgent
    state: absent
    cacheonly: true
    disablerepo: '*'
  when: ansible_facts.virtualization_role != "guest" or
        not guest_agent_enable | bool

- name: Remove unneeded packages on Azure/Hyper-V
  ansible.builtin.dnf:
    name:
      - open-vm-tools
      - qemu-guest-agent
      - spice-vdagent
    state: absent
    cacheonly: true
    disablerepo: '*'
  when:
    - ansible_facts.virtualization_role == "guest"
    - ansible_facts.virtualization_type == "VirtualPC"
    - guest_agent_enable | bool

- name: Remove unneeded packages on KVM
  ansible.builtin.dnf:
    name:
      - 'hyperv*'
      - open-vm-tools
      - WALinuxAgent
    state: absent
    cacheonly: true
    disablerepo: '*'
  when:
    - ansible_facts.system_vendor == "Nutanix"
    - ansible_facts.virtualization_role == "guest"
    - ansible_facts.virtualization_type == "kvm"
    - guest_agent_enable | bool

- name: Remove unneeded packages on Nutanix AHV
  ansible.builtin.dnf:
    name:
      - 'hyperv*'
      - qemu-guest-agent
      - open-vm-tools
      - spice-vdagent
      - WALinuxAgent
    state: absent
    cacheonly: true
    disablerepo: '*'
  when:
    - ansible_facts.system_vendor == "Nutanix"
    - ansible_facts.virtualization_role == "guest"
    - ansible_facts.virtualization_type == "kvm"
    - guest_agent_enable | bool

- name: Remove unneeded packages on VMware
  ansible.builtin.dnf:
    name:
      - 'hyperv*'
      - qemu-guest-agent
      - spice-vdagent
      - WALinuxAgent
    state: absent
    cacheonly: true
    disablerepo: '*'
  when:
    - ansible_facts.virtualization_role == "guest"
    - ansible_facts.virtualization_type == "VMware"
    - guest_agent_enable | bool

- name: Remove unneeded packages on other VMs
  ansible.builtin.dnf:
    name:
      - 'hyperv*'
      - open-vm-tools
      - qemu-guest-agent
      - spice-vdagent
      - WALinuxAgent
    state: absent
    cacheonly: true
    disablerepo: '*'
  when:
    - ansible_facts.virtualization_role == "guest"
    - ansible_facts.virtualization_type not in ['kvm', 'VirtualPC', 'VMware']
    - guest_agent_enable | bool

- name: Install virtual guest package
  vars:
    agent_packages:
      kvm: qemu-guest-agent
      VirtualPC:
        - hyperv-daemons
        - WALinuxAgent
      VMware: open-vm-tools
  ansible.builtin.dnf:
    name: "{{ agent_packages[ansible_facts.virtualization_type] }}"
    state: present
  when:
    - ansible_facts.system_vendor != "Nutanix"
    - ansible_facts.virtualization_role == "guest"
    - ansible_facts.virtualization_type in agent_packages
    - guest_agent_enable | bool

- name: Gather service facts
  ansible.builtin.service_facts:
  when:
    - ansible_facts.system_vendor != "Nutanix"
    - ansible_facts.virtualization_role == "guest"
    - ansible_facts.virtualization_type in ['kvm', 'VirtualPC', 'VMware']
    - guest_agent_enable | bool

- name: Enable virtual guest agent service
  vars:
    agent_services:
      kvm: qemu-guest-agent.service
      VirtualPC: waagent.service
      VMware: vmtoolsd.service
  ansible.builtin.service:
    name: "{{ agent_services[ansible_facts.virtualization_type] }}"
    enabled: true
  when:
    - ansible_facts.system_vendor != "Nutanix"
    - ansible_facts.virtualization_role == "guest"
    - ansible_facts.virtualization_type in agent_services
    - ansible_facts.virtualization_type in ['kvm', 'VirtualPC', 'VMware']
    - agent_services[ansible_facts.virtualization_type] in ansible_facts.services
    - guest_agent_enable | bool

- name: Start virtual guest agent service
  vars:
    agent_services:
      kvm: qemu-guest-agent.service
      VirtualPC: waagent.service
      VMware: vmtoolsd.service
  ansible.builtin.service:
    name: "{{ agent_services[ansible_facts.virtualization_type] }}"
    state: started
  when:
    - ansible_facts.system_vendor != "Nutanix"
    - ansible_facts.virtualization_role == "guest"
    - ansible_facts.virtualization_type in agent_services
    - ansible_facts.virtualization_type in ['kvm', 'VirtualPC', 'VMware']
    - agent_services[ansible_facts.virtualization_type] in ansible_facts.services
    - guest_agent_enable | bool
